<html lang="">

<head>
    <title>Auty Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="css/layout.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/shopnow.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/membership.css" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top">