<!-- Content -->

<div class="bgded overlay" style="background-image:url('images/logo.jpeg'); height: 1200px">
    <div class="wrapper row0">
        <div id="topbar" class="hoc clear">
            <div class="fl_left">
                <ul class="nospace">
                    <li><i class="fas fa-phone"></i> +62 (123) 456 7890</li>
                    <li><i class="far fa-envelope"></i> info@autystore.com</li>
                </ul>
            </div>
            <div class="fl_right">
                <ul class="nospace">
                    <li><a href="/" title="Home"><i class="fas fa-home"></i></a></li>
                    <li><a href="#" title="Help Centre"><i class="fas fa-life-ring"></i></a></li>
                    <!-- <li><a href="/login" title="Login"><i class="fas fa-sign-in-alt"></i></a></li> -->
                    <li><a href="/logout" title="Logout"><i class="fas fa-sign-out-alt"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrapper row1">
        <header id="header" class="hoc clear">
            <div id="logo" class="fl_left">
                <h1><a href="/">Auty Store</a></h1>
            </div>
            <nav id="mainav" class="fl_right">
                <ul class="clear">
                    <li><a href="/">Home</a></li>
                    <li><a href="/claimit">Membership</a></li>
                    <li><a href="/testi">Testimoni</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </nav>
        </header>
    </div>

<div id="pageintro" class="hoc clear">
    <article class="center">
        <h3 class="heading underline">Welcome to Our Store</h3>
        <footer><a class="btn" href="/shop">Shop Now</a></footer>
    </article>
</div>
<div class="slider">
    <figure>
        <div class="slide">
            <img src="images/sidebar/9-1.jpeg">
        </div>

        <div class="slide">
            <img src="images/sidebar/2-1.jpeg">
        </div>

        <div class="slide">
            <img src="images/sidebar/6-1.jpeg">
        </div>

        <div class="slide">
            <img src="images/sidebar/1-1.jpeg">
        </div>

        <div class="slide">
            <img src="images/sidebar/5-1.jpeg">
        </div>
    </figure>
</div>


<!-- Content -->
</div>

<div class="wrapper row4">
    <footer id="footer" class="hoc clear">
        <div class="center btmspace-50">
            <h6 class="heading">Auty Store</h6>
            <nav>
                <ul class="nospace inline pushright uppercase">
                    <li><a href="/"><i class="fas fa-lg fa-home"></i></a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Disclaimer</a></li>
                </ul>
            </nav><br><br>
            <hr class="btmspace-50">
            <div class="group">
                <div class="one_quarter">
                    <h6 class="heading">About Us</h6>
                    <p align="justify">Hello Dears!!<br> Kenalan dulu yuk sama kita<br>
                        Aku Audrey & aku Fathiyyah. Kita adalah owner dari Auty Shop ini🥰
                        <br>Kalian tau ga si kalo penampilan buat perempuan itu penting banget bahkan ada quotes yang
                        bilang seperti ini
                        “life isn’t perfect but your outfit can be!”
                        <br>Buat kalian yang bosen sama penampilan yang gitu gitu aja auty hadir untuk menyempurnakan
                        penampilan kalian<br> Because accessories make everything better✨<br>Happy shopping dear💕
                    </p>
                </div>
                <div class="one_quarter">
                    <li><a><img src="images/1-1.jpeg" alt=""></a></li>
                    <li><a><img src="images/2-2.png" alt=""></a></li>
                    </ul>
                </div>
                <div class="one_quarter">
                    <h6 class="heading">Testimoni Yuk</h6>
                    <p class="nospace btmspace-15" align="justify">Buat apa sih testimoni? testimoni ini tujuannya agar
                        customer dapat lebih percaya pada kami dan untuk kami sendiri juga dapat menjadi masukan jika
                        kalian merasa pelayanan kami kurang. Nah jadi untuk kalian yang sudah pernah belanja di Auty
                        Store, boleh banget nih tulis testi kalian disini</p>
                    <form method="post" action="#">
                        <fieldset>
                            <legend>Newsletter:</legend>
                            <input class="btmspace-15" type="text" value="" placeholder="Name">
                            <input class="btmspace-15" type="text" value="" placeholder="Type testimoni here">
                            <button type="submit" value="submit">Submit</button>
                        </fieldset>
                    </form>
                </div>
            </div>
    </footer>
</div>