<!-- Content -->

<div class="bgded overlay" style="background-image:url('images/logo.jpeg'); height: 1200px">
    <div class="wrapper row0">
        <div id="topbar" class="hoc clear">
            <div class="fl_left">
                <ul class="nospace">
                    <li><i class="fas fa-phone"></i> +62 (123) 456 7890</li>
                    <li><i class="far fa-envelope"></i> info@autystore.com</li>
                </ul>
            </div>
            <div class="fl_right">
                <ul class="nospace">
                    <li><a href="/" title="Home"><i class="fas fa-home"></i></a></li>
                    <li><a href="#" title="Help Centre"><i class="fas fa-life-ring"></i></a></li>
                    <!-- <li><a href="/login" title="Login"><i class="fas fa-sign-in-alt"></i></a></li> -->
                    <li><a href="/logout" title="Logout"><i class="fas fa-sign-out-alt"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrapper row1">
        <header id="header" class="hoc clear">
            <div id="logo" class="fl_left">
                <h1><a href="/">Auty Store</a></h1>
            </div>
            <nav id="mainav" class="fl_right">
                <ul class="clear">
                    <li><a href="/">Home</a></li>
                    <li><a href="/claimit">Membership</a></li>
                    <li><a href="/testi">Testimoni</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </nav>
        </header>
    </div>


<div class="container1">
    <div class="kiri">
        <a href="/shop/women"><img src="images/women.jpg"></a>
        <div class="text1">
            <h2>WOMEN</h2>
        </div>
    </div>
    <div class="kanan">
        <a href="/shop/men"><img src="images/men.jpg"></a>
        <div class="text2">
            <h2>MEN</h2>
        </div>
    </div>
</div>

<!-- Content -->

</div>

<div class="wrapper row4">
    <footer id="footer" class="hoc clear">
        <div class="center btmspace-50">
            <h6 class="heading">Auty Store</h6>
            <nav>
                <ul class="nospace inline pushright uppercase">
                    <li><a href="/"><i class="fas fa-lg fa-home"></i></a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Disclaimer</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</div>