</html>
<head>
  <link rel="stylesheet" type="text/css" href="css/testimonial.css">
  <link rel="stylesheet" type="text/css" href="css/layout.css">
</head>
<body>
<div class="Auty testimonials">
  <!--   Start Testimonials -->
  <!-- Content -->

<div class="bgded overlay">
  <div class="wrapper row0">
      <div id="topbar" class="hoc clear">
          <div class="fl_left">
              <ul class="nospace">
                  <li><i class="fas fa-phone"></i> +62 (123) 456 7890</li>
                  <li><i class="far fa-envelope"></i> info@autystore.com</li>
              </ul>
          </div>
          <div class="fl_right">
              <ul class="nospace">
                  <li><a href="/" title="Home"><i class="fas fa-home"></i></a></li>
                  <li><a href="#" title="Help Centre"><i class="fas fa-life-ring"></i></a></li>
                  <!-- <li><a href="/login" title="Login"><i class="fas fa-sign-in-alt"></i></a></li> -->
                  <li><a href="/logout" title="Logout"><i class="fas fa-sign-out-alt"></i></a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="wrapper row1">
      <header id="header" class="hoc clear">
          <div id="logo" class="fl_left">
              <h1><a href="/">Auty Store</a></h1>
          </div>
          <nav id="mainav" class="fl_right">
              <ul class="clear">
                  <li><a href="/">Home</a></li>
                  <li><a href="/claimit">Membership</a></li>
                  <li><a href="/testi">Testimoni</a></li>
                  <li><a href="#">Help</a></li>
              </ul>
          </nav>
      </header>
  </div>

  <!--   Testimonial 1 -->
  <div class="single-testimonial" style="margin-top: 20px;">
    <div class="testimonials-wrapper">
      <h4>jadi kita abis belanja di Auty shop sesuai taglinenya barang disini "Authentic" Aku dan adikku suka sekali belanja disini</h4>
      <div class="testimonials-blob"></div>
      <div class="testimonials-img"><img src="/images/testi/siscakohl.jpeg"></div>
      <div class="testimonials-person-info">
        <p><b>sisca kohl</b><br/>influencer</p>
      </div>
    </div>
  </div>
  <!--   Testimonial 2 -->
  <div class="single-testimonial">
    <div class="testimonials-wrapper">
      <h4>bagus bangettt aksesorisnya cocok banget dipake buat bojong gede fashion week!!!.</h4>
      <div class="testimonials-blob"></div>
      <div class="testimonials-img"><img src="/images/testi/nurul2.jpeg"></div>
      <div class="testimonials-person-info">
        <p><b>nurul</b><br />model</p>
      </div>
    </div>
  </div>
  <!--   Testimonial 3 -->
  <div class="single-testimonial">
    <div class="testimonials-wrapper">
      <h4>Lu tau ga apa yang lucu???? lu tau ga apa yang buat gw marah???? BELANJA DI AUTY SHOP harga murah barangnya bagus banget.</h4>
      <div class="testimonials-blob"></div>
      <div class="testimonials-img"><img src="/images/testi/batzy.jpeg"></div>
      <div class="testimonials-person-info">
        <p><b>batzy</b><br />pelajar</p>
      </div>
    </div>
  </div>
  <!--   Testimonial 4 -->
  <div class="single-testimonial">
    <div class="testimonials-wrapper">
      <h4>gez mo cerita!!! jadi aku belanja disini kan trus bagus bagus banget eh'heh seriusan ini mah.</h4>
      <div class="testimonials-blob"></div>
      <div class="testimonials-img"><img src="/images/testi/alwi.jpeg"></div>
      <div class="testimonials-person-info">
        <p><b>Alwi</b><br />pelajar</p>
      </div>
    </div>
  </div>

</div>
  
  <script src="js/jquery.min.js"></script>
 </body>
  <!--   End Testimonials -->
</div>
</html>