<!DOCTYPE html>
<html>
<title>MEN</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/products/men/bracelet.css">
<body>
  <div class="s-layout">
  <!-- Sidebar -->
  <div class="s-layout__sidebar">
    <nav class="s-sidebar__nav">
      <ul>
         <li></li>
         <li>
            <a class="s-sidebar__nav-link" href="/shop/men/belt">
              <em>Belt</em>
            </a>
         </li>
         <li class="active">
            <a class="s-sidebar__nav-link" href="/shop/men/bracelet">
             <em>Bracelet</em>
            </a>
         </li>
         <li>
            <a class="s-sidebar__nav-link" href="/shop/men/glasses">
             <em>Glasses</em>
            </a>
         </li>
         <li>
            <a class="s-sidebar__nav-link" href="/shop/men/hat">
             <em>Hat</em>
            </a>
         </li>
         <li>
            <a class="s-sidebar__nav-link" href="/shop/men/necklace">
             <em>Necklace</em>
            </a>
         </li>
         <li>
            <a class="s-sidebar__nav-link" href="/shop/men/watches">
             <em>Watches</em>
            </a>
         </li>
         <li></li>
         <li></li>
         <li></li>
         <li>
           <a class="s-sidebar__nav-link" href="/">
           <em>HOME</em>
           </a>
         </li>
      </ul>
   </nav>
  </div>

  <!-- Content -->
  <main class="s-layout__content">
    <ul id="rig">
      <li>
        <a class="rig-cell" href="/">
          <span class="rig-img1"></span>
          <h3>GET IT FOR 50$</h3>
          <span class="rig-overlay"></span>
        </a>
      </li>
      <li>
        <a class="rig-cell" href="/">
          <span class="rig-img2"></span>
          <h3>GET IT FOR 90$</h3>
          <span class="rig-overlay"></span>
        </a>
      </li>
      <li>
        <a class="rig-cell" href="/">
          <span class="rig-img3"></span>
          <h3>GET IT FOR 67$</h3>
          <span class="rig-overlay"></span>
        </a>
      </li>
      <li>
        <a class="rig-cell" href="/">
          <span class="rig-img4"></span>
          <h3>GET IT FOR 75$</h3>
          <span class="rig-overlay"></span>
        </a>
      </li>
      <li>
        <a class="rig-cell" href="/">
          <span class="rig-img5"></span>
          <h3>GET IT FOR 86$</h3>
          <span class="rig-overlay"></span>
        </a>
      </li>
      <li>
        <a class="rig-cell" href="/">
          <span class="rig-img6"></span>
          <h3>GET IT FOR 78$</h3>
          <span class="rig-overlay"></span>
        </a>
      </li>
      <li>
        <a class="rig-cell" href="/">
          <span class="rig-img7"></span>
          <h3>GET IT FOR 88$</h3>
          <span class="rig-overlay"></span>
        </a>
      </li>
      <li>
        <a class="rig-cell" href="/">
          <span class="rig-img8"></span>
          <h3>GET IT FOR 94$</h3>
          <span class="rig-overlay"></span>
        </a>
      </li>
    </ul>
  </main>
  </div>
</body>
</html>