<!DOCTYPE html>
<html>
<title>MEN</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/products/belt.css">
<link rel="stylesheet" href="/css/products/bracelet.css">
<link rel="stylesheet" href="/css/products/glasses.css">
<link rel="stylesheet" href="/css/products/hat.css">
<link rel="stylesheet" href="/css/products/necklace.css">
<link rel="stylesheet" href="/css/products/watches.css">
<link rel="stylesheet" href="/css/products/men_sidebar.css">

<body>
  <div class="s-layout">
  <!-- Sidebar -->
  <div class="s-layout__sidebar">
    <nav class="s-sidebar__nav">
       <ul>
          <li></li>
          <li class="active">
             <a class="s-sidebar__nav-link" href="/shop/men/belt">
               <em>Belt</em>
             </a>
          </li>
          <li>
             <a class="s-sidebar__nav-link" href="/shop/men/bracelet">
              <em>Bracelet</em>
             </a>
          </li>
          <li>
             <a class="s-sidebar__nav-link" href="/shop/men/glasses">
              <em>Glasses</em>
             </a>
          </li>
          <li>
             <a class="s-sidebar__nav-link" href="/shop/men/hat">
              <em>Hat</em>
             </a>
          </li>
          <li>
             <a class="s-sidebar__nav-link" href="/shop/men/necklace">
              <em>Necklace</em>
             </a>
          </li>
          <li>
             <a class="s-sidebar__nav-link" href="/shop/men/watches">
              <em>Watches</em>
             </a>
          </li>
          <li></li>
          <li></li>
          <li></li>
          <li>
            <a class="s-sidebar__nav-link" href="/">
            <em>HOME</em>
            </a>
          </li>
       </ul>
    </nav>
  </div>

  <!-- Content -->

  <%- body %> 

  <!-- End Content -->

  </div>
</body>
</html>